{% extends "base.html" %}

{% block content %}
    <p>Current RD stats (<i>{{ last_updated }}</i>):</p>
    <ul class="list-group col-md-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Projects:</strong> {{ num_projects }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Over 500GB:</strong> {{ num_projects_large }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Usage:</strong> {{ total_size }} TB
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Quotum size:</strong> {{ total_quotum }} TB
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Users:</strong> {{ num_users }}
        </li>
    </ul>
    
    <canvas id="project-chart" data-url="{% url 'project_chart_json' %}"></canvas>
    <hr/>
    <canvas id="size-chart" data-url="{% url 'size_chart_json' %}"></canvas>
    <hr/>
    <canvas id="user-chart" data-url="{% url 'user_chart_json' %}"></canvas>
    <hr/>
    <canvas id="quotum-chart" data-url="{% url 'quotum_chart_json' %}"></canvas>
    

    <script>
        $(function () {
            setStackedBarChart($("#project-chart"), 'Number of projects', false);
            setStackedBarChart($("#size-chart"), 'Usage (TB)', false);
            setStackedBarChart($("#user-chart"), 'Number of users', true);
            setStackedBarChart($("#quotum-chart"), 'Quota (TB)', true);
        });
    </script>
{% endblock %}
